/* FONT FACE */
/* FONT FACE */
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-BoldItalic.woff2") format("woff2"), url("fonts/poppins/Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-BlackItalic.woff2") format("woff2"), url("fonts/poppins/Poppins-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-Black.woff2") format("woff2"), url("fonts/poppins/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-ExtraBold.woff2") format("woff2"), url("fonts/poppins/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-Bold.woff2") format("woff2"), url("fonts/poppins/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-SemiBoldItalic.woff2") format("woff2"), url("fonts/poppins/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("fonts/poppins/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-Italic.woff2") format("woff2"), url("fonts/poppins/Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-Light.woff2") format("woff2"), url("fonts/poppins/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-ThinItalic.woff2") format("woff2"), url("fonts/poppins/Poppins-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-ExtraLight.woff2") format("woff2"), url("fonts/poppins/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-MediumItalic.woff2") format("woff2"), url("fonts/poppins/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-ExtraLightItalic.woff2") format("woff2"), url("fonts/poppins/Poppins-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-Thin.woff2") format("woff2"), url("fonts/poppins/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-ExtraBoldItalic.woff2") format("woff2"), url("fonts/poppins/Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("fonts/poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-LightItalic.woff2") format("woff2"), url("fonts/poppins/Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/poppins/Poppins-Medium.woff2") format("woff2"), url("fonts/poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* EOF FONT FACE */
/* EOF FONT FACE */
/* VARIABLES */
/* VARIABLES */
/* EOF VARIABLES */
/* EOF VARIABLES */
/* KEYFRAMES */
/* KEYFRAMES */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lqt {
  0%, 100% {
    background-image: linear-gradient(#6f75f0 40px, transparent 0);
    background-position: 0% 0px;
  }
  50% {
    background-image: linear-gradient(#6f75f0 40px, transparent 0);
    background-position: 0% 40px;
  }
  50.1% {
    background-image: linear-gradient(#6f75f0 40px, transparent 0);
    background-position: 0% -40px;
  }
}
@keyframes lqb {
  0% {
    background-image: linear-gradient(#6f75f0 40px, transparent 0);
    background-position: 0 40px;
  }
  100% {
    background-image: linear-gradient(#6f75f0 40px, transparent 0);
    background-position: 0 -40px;
  }
}
@keyframes spinx {
  0%, 49% {
    transform: rotate(0deg);
    background-position: 50% 36px;
  }
  51%, 98% {
    transform: rotate(180deg);
    background-position: 50% 4px;
  }
  100% {
    transform: rotate(360deg);
    background-position: 50% 36px;
  }
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* EOF KEYFRAMES */
/* EOF KEYFRAMES */
/* GLOBAL STYLE */
/* GLOBAL STYLE */
h1, h2, h3, h4, p, span {
  background: none;
}

p {
  font-weight: 400 !important;
}

h2 {
  font-size: 26px;
  line-height: 28px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

strong {
  font-weight: 700;
}

.text {
  margin-top: 30px;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: -0.2px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden !important;
  width: 100vw !important;
  min-height: 100svh !important;
  background-color: #313131;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.none {
  display: none !important;
}

.button-see-more {
  margin-left: auto;
  margin-right: auto;
}

/* EOF GLOBAL STYLE */
/* EOF GLOBAL STYLE */
/* HEADER */
/* HEADER */
#header {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #2f2f2f;
  box-shadow: 0 0 15px black;
}
#header .navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
#header .navbar a {
  text-decoration: none;
}
#header .navbar a h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}
#header .navbar #toggler {
  display: none;
}
#header .navbar #toggler:checked + label img.burger-logo {
  content: url("media/fermer.png");
  width: 20px !important;
  height: 20px !important;
}
#header .navbar label {
  display: none;
}
#header .navbar label img {
  width: 20px !important;
  height: 20px !important;
}
#header .navbar .menu ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
#header .navbar .menu ul li {
  color: white;
  padding: 5px;
  text-decoration: none;
  transition: 300ms ease-in-out;
  text-transform: 700;
}
#header .navbar .menu ul li:hover {
  text-decoration: underline;
}
#header .navbar .menu ul li a {
  text-decoration: none;
  color: #fff;
}
#header .navbar .menu ul li:last-child > a {
  border-radius: 50px;
  padding: 15px;
  text-decoration: none;
  font-weight: 700;
  margin-top: -7.5px;
  background: #c5eafa;
  box-shadow: 0 0 10px black;
  background: -moz-linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  background: -webkit-linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  background: linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  text-shadow: 1px 1px 18px black;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fad4c5",endColorstr="#5957ee",GradientType=1);
}
#header .navbar .menu ul li:last-child > a:hover {
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  #header .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #header .navbar #toggler:checked ~ .menu {
    max-height: 300px;
    transition: max-height 0.5s ease-in-out;
  }
  #header .navbar #toggler:checked ~ .menu {
    max-height: 300px;
    transition: max-height 0.5s ease-in-out;
  }
  #header .navbar .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
  }
  #header .navbar .menu ul {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  #header .navbar .menu ul #to-home {
    margin-top: 30px;
  }
  #header .navbar .menu ul li:last-child > a {
    padding: 0;
    box-shadow: none;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 1px 1px 18px black;
    background: linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  #header .navbar .menu ul li:last-child > a:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

/* EOF HEADER */
/* EOF HEADER */
/* BACKGROUND */
/* BACKGROUND */
#background {
  position: fixed;
  z-index: 1;
  background-image: url("media/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

/* EOF BACKGROUND */
/* EOF BACKGROUND */
/* HERO BANNER */
/* HERO BANNER */
#hero-banner {
  display: grid;
  z-index: 3;
  position: relative;
  grid-template-columns: [a] 1fr [b] 1fr [c];
  grid-template-rows: [a] 1fr [b] auto [c] 80px [d] 80px [e];
  min-height: 100svh;
  width: 80%;
  max-height: 200vh;
  margin-left: 10%;
  opacity: 1 !important;
}
#hero-banner .container {
  font-size: 28px;
  font-weight: bold;
  position: relative;
  height: 55px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 10px;
}
#hero-banner .container #word {
  display: block;
  position: absolute;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s, transform 0.8s;
}
#hero-banner .hero-banner-aura1 {
  grid-row: b/c;
  grid-column: a/c;
  align-self: center;
  justify-self: center;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(90, 87, 238, 0.631372549), rgba(255, 230, 150, 0) 70%);
}
#hero-banner .hero-banner-container-text {
  grid-row: a/b;
  padding-top: 120px;
  align-self: center;
  justify-self: center;
  grid-column: a/c;
}
#hero-banner .hero-banner-container-text h2 {
  color: rgb(236, 236, 236);
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
}
#hero-banner .hero-banner-container-text p {
  color: rgb(236, 236, 236);
}
@media screen and (max-width: 1000px) {
  #hero-banner .hero-banner-container-text .mask-and-show {
    display: none;
  }
}
#hero-banner .hero-banner-container-text a {
  border-radius: 50px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: rgb(236, 236, 236);
  font-weight: 700;
  background: #c5eafa;
  box-shadow: 0 0 10px black;
  position: absolute;
  background: -moz-linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  background: -webkit-linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  background: linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  text-shadow: 1px 1px 18px black;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fad4c5",endColorstr="#5957ee",GradientType=1);
}
#hero-banner .hero-banner-container-text a:hover {
  cursor: pointer;
}
#hero-banner .hero-banner-container-text a::after {
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}
#hero-banner .hero-banner-container-image {
  align-self: center;
  justify-self: center;
  grid-row: b/c;
  grid-column: a/c;
}
#hero-banner .hero-banner-container-image img {
  width: 180px;
  margin-top: 20px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#hero-banner .hero-banner-container-bottom {
  grid-row: d/e;
  grid-column: a/c;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 20px;
}
#hero-banner .hero-banner-container-bottom img {
  width: 30px;
  height: 30px;
}
#hero-banner .hero-banner-container-link {
  grid-row: c/d;
  grid-column: a/c;
  justify-self: center;
  align-self: center;
  margin-bottom: 50px;
}
#hero-banner .hero-banner-container-link ul li {
  display: inline;
}
#hero-banner .hero-banner-container-link ul li a {
  text-decoration: none;
}
#hero-banner .hero-banner-container-link ul li a img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background: #272727;
  box-shadow: 20px 20px 60px #242424, -20px -20px 60px #3a3a3a;
  padding: 10px;
}
#hero-banner .hero-banner-container-link ul li a img:hover {
  box-shadow: 0px 4px 15px rgba(250, 197, 197, 0.7), 0px -4px 15px rgba(89, 87, 238, 0.5);
}
@media screen and (min-width: 800px) {
  #hero-banner {
    display: grid;
    grid-template-columns: [a] 1fr [b] 1fr [c];
    grid-template-rows: [a] 1fr [b] 1fr [c];
  }
  #hero-banner .hero-banner-aura1 {
    grid-row: a/c;
    grid-column: b/c;
    width: 400px;
    height: 400px;
  }
  #hero-banner .hero-banner-container-image {
    grid-row: a/c;
    grid-column: b/c;
  }
  #hero-banner .hero-banner-container-text {
    grid-row: a/c;
    grid-column: a/b;
    padding-top: 0;
  }
  #hero-banner .hero-banner-container-text h2 {
    font-size: 30px;
  }
  #hero-banner .hero-banner-container-bottom {
    grid-row: b/c;
    grid-column: a/c;
  }
  #hero-banner .hero-banner-container-link {
    grid-row: c/d;
    grid-column: a/c;
  }
  #hero-banner .hero-banner-container-bottom {
    grid-row: d/e;
    grid-column: a/c;
  }
}

/* EOF HERO BANNER */
/* EOF HERO BANNER */
/* CONTAINER ABOUT */
/* CONTAINER ABOUT */
.container-about {
  z-index: 3;
  position: relative;
  width: 80%;
  margin-left: 10%;
  color: rgb(236, 236, 236);
  padding-top: 100px;
  min-height: 400px;
}
.container-about h3 span {
  font-weight: 900;
}
.container-about .container-about-info .test div:nth-child(2) p:nth-child(1) {
  font-weight: 600;
  margin-top: 30px;
}
.container-about .container-about-info .test div:nth-child(2) p:nth-child(2) {
  margin-top: 30px;
}
@media screen and (min-width: 800px) {
  .container-about .container-about-info .test {
    display: grid;
    margin-top: 30px;
    grid-template-columns: [] 30% [] 1fr [];
    align-items: center;
    justify-items: center;
    grid-gap: 30px;
  }
  .container-about .container-about-info .test div:nth-child(1) {
    height: 100%;
    margin-top: 0;
  }
  .container-about .container-about-info .test div:nth-child(2) p:nth-child(1) {
    margin-top: 0 !important;
  }
}
.container-about .container-about-info-card {
  padding: 2px;
  background: -moz-linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  background: -webkit-linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  background: linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  text-shadow: 1px 1px 18px black;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fad4c5",endColorstr="#5957ee",GradientType=1);
  width: 100%;
  border-radius: 6px;
  margin-top: 30px;
}
.container-about .container-about-info-card:hover {
  cursor: pointer;
  scale: 1.02;
  transition: 200ms;
}
.container-about .container-about-info-card div {
  background-color: #2f2f2f;
  border-radius: 6px;
  width: 100%;
  height: 300px;
  display: grid;
  overflow: hidden;
  background-size: cover;
  background-position: 30%;
  background-image: url("media/florianllimos.webp");
  filter: grayscale(30%);
  grid-template-columns: [a] 1fr [b] 1fr [c];
  grid-template-rows: [a] 1fr [b] 1fr [c];
}
@media (min-width: 1100px) {
  .container-about .container-about-info-card div {
    background-position-y: 20%;
  }
}
.container-about .container-about-info-card div p {
  grid-row: a/c;
  grid-column: a/c;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  font-weight: 900 !important;
  text-shadow: 0 0 5px black;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
@media (min-width: 800px) {
  .container-about .container-about-info-card div p {
    font-size: 20px;
  }
}
@media (min-width: 1500px) {
  .container-about .container-about-info-card div p {
    font-size: 30px;
  }
}
@media (min-width: 1000px) {
  .container-about {
    width: 60%;
    margin-left: 20%;
  }
}
.container-about .container-info {
  display: grid;
  margin-top: 30px;
  grid-gap: 10px;
}
@media screen and (min-width: 500px) {
  .container-about .container-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .container-about .container-info {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}
.container-about .container-info .container-info-card {
  background: linear-gradient(30deg, #fad4c5, #5957ee, #fad4c5);
  background-size: 400% 400%;
  animation: gradientMove 2s ease infinite;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
  padding: 2px;
}
.container-about .container-info .container-info-card:hover {
  transition: 200ms;
  scale: 1.03;
  opacity: 1 !important;
  cursor: pointer;
}
.container-about .container-info .container-info-card div {
  height: 100%;
  align-items: center;
  display: grid;
  border-radius: 6px;
  padding: 30px;
  background-color: #2f2f2f;
  text-align: center;
}

.container-info:hover .container-info-card {
  opacity: 0.55 !important;
  transition: 200ms;
}

.color {
  background: linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
}

/* EOF CONTAINER ABOUT */
/* EOF CONTAINER ABOUT */
/* CONTAINER SERVICES */
/* CONTAINER SERVICES */
#container-services-mobile {
  z-index: 3;
  position: relative;
  padding-top: 0 !important;
}
@media screen and (min-width: 800px) {
  #container-services-mobile {
    display: none;
  }
}

.container-services {
  z-index: 3;
  position: relative;
  color: rgb(236, 236, 236);
  width: 80%;
  margin-left: 10%;
  padding-top: 100px;
}
.container-services .first-text {
  margin-top: 30px;
}
@media screen and (min-width: 1000px) {
  .container-services {
    width: 60%;
    margin-left: 20%;
  }
}

#slider-services {
  display: none;
}
@media screen and (min-width: 800px) {
  #slider-services {
    display: block;
  }
}

#slider-services-mobile {
  width: 80%;
  margin-left: 10%;
}
@media screen and (max-width: 800px) {
  #slider-services-mobile {
    display: none;
  }
}

.slider-container {
  z-index: 3;
  position: relative;
  width: 2000px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 10px;
  padding: 20px;
}
.slider-container .slider {
  display: flex;
  gap: 20px;
  white-space: nowrap;
  animation: slide 19s linear infinite;
}
.slider-container .slider:hover .slide {
  opacity: 0.55;
  transition: 200ms;
}
.slider-container .slider p {
  margin-top: 0;
}
.slider-container .slider a {
  color: rgb(236, 236, 236);
  text-decoration: none;
}
.slider-container .slider .slide {
  min-width: 200px;
  height: 120px;
  background: #2f2f2f;
  color: rgb(236, 236, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.377);
  border-radius: 10px;
}
.slider-container .slider .slide p {
  font-weight: 700;
}
.slider-container .slider .slide:hover {
  transition: 200ms;
  scale: 1.05;
  opacity: 1 !important;
  cursor: pointer;
}

/* EOF CONTAINER SERVICES */
/* EOF CONTAINER SERVICES */
/* PROCESSUS */
/* PROCESSUS */
.container-processus {
  width: 80%;
  z-index: 3;
  position: relative;
  margin-top: 100px;
  margin-left: 10%;
  color: rgb(236, 236, 236);
}
@media (min-width: 1000px) {
  .container-processus {
    width: 60%;
    margin-left: 20%;
  }
}
.container-processus .container-processus-step {
  margin-top: 30px;
  display: grid;
}
@media (min-width: 700px) {
  .container-processus .container-processus-step {
    grid-template-columns: [a] 1fr [b] 1fr [c];
    grid-template-rows: [a] 1fr [b] 50px [c] 1fr [d] 50px [e] 1fr [f] 50px [g] 1fr [h] 50px [i] 1fr [j] 50px [k] 1fr [l];
    grid-gap: 0;
  }
}
.container-processus .container-processus-step .trait {
  width: 3px;
  justify-self: center;
  height: 50px;
  background: -moz-linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  background: -webkit-linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  background: linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  text-shadow: 1px 1px 18px black;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fad4c5",endColorstr="#5957ee",GradientType=1);
}
.container-processus .container-processus-step .container-processus-step-card {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 2px;
  background: #c5eafa;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
  background: -moz-linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  background: -webkit-linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  background: linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  text-shadow: 1px 1px 18px black;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fad4c5",endColorstr="#5957ee",GradientType=1);
}
.container-processus .container-processus-step .container-processus-step-card div {
  background: #2f2f2f;
  width: 100%;
  border-radius: 6px;
  height: 100%;
  display: flex;
  padding: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-processus .container-processus-step .container-processus-step-card div p {
  margin-top: 15px;
}
@media screen and (min-width: 700px) {
  .container-processus .container-processus-step .container-processus-step-card {
    width: 100%;
  }
  .container-processus .container-processus-step .trait1 {
    grid-row: b/c;
    grid-column: b/c;
    justify-self: start;
    align-self: center;
    height: 60px;
    z-index: 2;
    transform: rotate(-25deg) !important;
  }
  .container-processus .container-processus-step .trait2 {
    grid-row: d/e;
    grid-column: a/b;
    justify-self: end;
    align-self: center;
    height: 60px;
    z-index: 2;
    transform: rotate(25deg) !important;
  }
  .container-processus .container-processus-step .trait3 {
    grid-row: f/g;
    grid-column: b/c;
    justify-self: start;
    align-self: center;
    height: 60px;
    z-index: 2;
    transform: rotate(-25deg) !important;
  }
  .container-processus .container-processus-step .trait4 {
    grid-row: h/i;
    grid-column: a/b;
    justify-self: end;
    align-self: center;
    height: 60px;
    z-index: 2;
    transform: rotate(25deg) !important;
  }
  .container-processus .container-processus-step .trait5 {
    grid-row: j/k;
    grid-column: b/c;
    justify-self: start;
    align-self: center;
    height: 60px;
    z-index: 2;
    transform: rotate(-25deg) !important;
  }
  .container-processus .container-processus-step .container-processus-step-card-1 {
    grid-row: a/b;
    grid-column: a/b;
    justify-self: start;
    align-self: center;
  }
  .container-processus .container-processus-step .container-processus-step-card-2 {
    grid-row: c/d;
    grid-column: b/c;
    justify-self: end;
    align-self: center;
  }
  .container-processus .container-processus-step .container-processus-step-card-3 {
    grid-row: e/f;
    grid-column: a/b;
    justify-self: start;
    align-self: center;
  }
  .container-processus .container-processus-step .container-processus-step-card-4 {
    grid-row: g/h;
    grid-column: b/c;
    justify-self: end;
    align-self: center;
  }
  .container-processus .container-processus-step .container-processus-step-card-5 {
    grid-row: i/j;
    grid-column: a/b;
    justify-self: start;
    align-self: center;
  }
  .container-processus .container-processus-step .container-processus-step-card-6 {
    grid-row: k/l;
    grid-column: b/c;
    justify-self: end;
    align-self: center;
  }
}

/* EOF PROCESSUS */
/* EOF PROCESSUS */
/* PORTFOLIO */
/* PORTFOLIO */
.container-portfolio {
  z-index: 3;
  position: relative;
  width: 80%;
  padding-top: 100px;
  margin-left: 10%;
  color: rgb(236, 236, 236);
}
@media (min-width: 1000px) {
  .container-portfolio {
    width: 60%;
    margin-left: 20%;
  }
}

.container-portfolio-card {
  display: grid;
  margin-top: 30px;
  grid-gap: 30px;
}
@media screen and (min-width: 800px) {
  .container-portfolio-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
.container-portfolio-card .card {
  position: relative;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  transition: 0.5s;
}
.container-portfolio-card .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}
.container-portfolio-card .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}
.container-portfolio-card .card .box:hover {
  transform: translateY(-20px);
}
.container-portfolio-card .card .box .content {
  padding: 20px;
  text-align: center;
}
.container-portfolio-card .card .box .content .card-portfolio-number {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 6rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.1);
}
.container-portfolio-card .card .box .content .card-portfolio-number-1 {
  background-image: url("media/florianllimos-site.webp");
  background-size: cover;
  background-position: 50%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.container-portfolio-card .card .box .content .card-portfolio-number-2 {
  background-image: url("media/catherineprot-site.webp");
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.container-portfolio-card .card .box .content h3 {
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-top: 60px;
  margin-bottom: 30px;
}
.container-portfolio-card .card .box .content p {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}
.container-portfolio-card .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 30px;
  transition: 0.5s;
  background: -moz-linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  background: -webkit-linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  background: linear-gradient(30deg, #fad4c5 0%, #5957ee 100%);
  text-shadow: 1px 1px 18px black;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fad4c5",endColorstr="#5957ee",GradientType=1);
}
.container-portfolio-card .card .box .content a:hover {
  background: none;
  background: linear-gradient(30deg, #c5eafa 0%, #5957ee 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
}

/* EOF PORTFOLIO */
/* EOF PORTFOLIO */

/*# sourceMappingURL=style.css.map */
